* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
}
.grid {
  display: grid;
  position: absolute;
  top: calc(50% - 37.5vmin);
  left: calc(50% - 37.5vmin);
  width: 75vmin;
  height: 75vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid>div {
  border: solid black 1px;
  grid-column: auto;
  grid-row: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17vmin;
  overflow: hidden;
}

.output {
  position: absolute;
  top: calc(50% - 37.5vmin);
  left: calc(50% + 37.5vmin);
  border: solid black 1px;
  width: 25vmin;
  height: 75vmin;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: auto;
}
.settings {
  position: absolute;
  top: calc(50% - 37.5vmin);
  left: calc(50% - 62.5vmin);
  width: 25vmin;
  height: 75vmin;
  border: solid black 1px;
}
form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1vmin;
}
.marker {
  display: flex;
  width: 100%;
  justify-content: center;
}
label {
  margin: 0 1vmin;
}
input {
  text-align: center;
}
.container{
  width: 100%;
  border: 1px solid black;
  margin: 1vmin 0;
  border-radius: 1vmin;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}